* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 20, 115, 1) 0%,
    rgba(104, 41, 166, 1) 35%,
    rgba(101, 106, 191, 1) 100%
  );
  padding-bottom: 4%;
  > :first-child {
    width: 9%;
    img {
      width: 100%;
      transition: transform 1s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    a {
      text-decoration: none;
      color: white;
      transition: all 0.4s;
      font-weight: bold;
      font-size: 18px;
      &:hover {
        transform: scale(1.1);
        color: #d98c5f;
      }
    }
  }
  span {
    color: white;
  }
}

.h1Container {
  overflow: hidden;
  width: 100%;
  background-color: #d98c5f;
  filter: blur(1px);
  transition: all 0.4s;
  &:hover {
    filter: blur(0);
  }
  h1 {
    color: #f5f5f5;
    font-weight: bold;
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 20s infinite linear;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

////////////////////////////////////////////Cards rotate///////////////////////////////////////
.container {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(77, 20, 115, 1) 0%,
    rgba(104, 41, 166, 1) 35%,
    rgba(101, 106, 191, 1) 100%
  );
}
h2 {
  color: white;
  padding-bottom: 1%;
  padding-top: 10%;
  margin-left: 5%;
  border-bottom: solid white;
  width: 90%;
}
h2 span {
  display: block;
}
h2 span:nth-child(1) {
  font-weight: normal;
  color: #d98c5f;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}

.card-wrapper {
  position: relative;
  min-height: 350px;
  perspective: 2000px;
  perspective-origin: top;
  width: 24%;
  margin-bottom: 2%;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  color: white;
  font-weight: bold;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 18px;
  border-radius: 10%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0px 9px 8px 0px #4d1473;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    filter: brightness(90%);
  }
  &:hover {
    cursor: pointer;
  }
}

.card-front p {
  font-size: 25px;
  line-height: 35px;
}

.card-price {
  font-size: 45px;
}

.card-back {
  background: #4d1473;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    color: white;
    margin-bottom: 7%;
  }
  .textContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

////////////////////////////////////////////Enter button///////////////////////////////////////
.cta {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #d98c5f;
  transition: 1s;
  box-shadow: 6px 6px 0 #a55527;
  transform: skewX(-15deg);
  width: 55%;
  justify-content: center;
  margin-left: 45%;
  padding: 2%;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #6829a6;
}

////////////////////////////////////////////Scroll button///////////////////////////////////////
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: rgb(77, 20, 115);
  color: white;
  cursor: pointer;
  padding: 1%;
  border-radius: 10%;
  font-size: 20px;
}

#myBtn:hover {
  opacity: 0.7;
}

////////////////////////////////////////////End///////////////////////////////////////
#contact {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  .text {
    display: flex;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 20, 115);
  }
  i {
    color: rgb(77, 20, 115);
    font-size: 40px;
    transition: transform 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .social-container {
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin-top: 2%;
    :nth-child(3) {
      i {
        font-size: 42px;
      }
    }
  }
}
#about {
  background: linear-gradient(
    90deg,
    rgba(77, 20, 115, 1) 0%,
    rgba(104, 41, 166, 1) 35%,
    rgba(101, 106, 191, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  .iconesContainer {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  i {
    font-size: 45px;
    transition: transform 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
h2 {
  margin-left: 5%;
  color: white;
  font-weight: bold;
  border-bottom: solid white;
  width: 90%;
  padding-bottom: 1%;
}

///////////////////////////////////////////Responsive///////////////////////////////////////////
@media screen and (max-width: 1200px) {
  header {
    nav {
      width: 60%;
    }
  }
}

@media screen and (max-width: 764px) {
  header {
    nav {
      width: 70%;
      a {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    padding-bottom: 15%;
    > :first-child {
      width: 20%;
    }
    nav {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100px;
      justify-content: space-between;
      a {
        font-size: 15px;
        border: solid;
        border-radius: 10px;
        margin-bottom: 10%;
        padding: 2%;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .card-wrapper {
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .h1Container h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  .card-container {
    flex-direction: column;
  }
  .card-wrapper {
    width: 100%;
    min-height: 200px;
    border-radius: 0;
    margin-bottom: 25%;
    img {
      border-radius: 0;
    }
  }
  .card {
    width: 100%;
  }
  .card-front,
  .card-back {
    height: 278px;
    border-radius: 0;
  }
  #myBtn {
    display: none !important;
  }
  #about {
    margin-bottom: 10%;
    .iconesContainer {
      width: 90%;
    }
  }
  #contact p {
    font-size: 15px;
  }
  #contact .social-container {
    width: 30%;
  }
}

@media screen and (max-width: 440px) {
  #about {
    i {
      font-size: 35px;
    }
  }
  .card-wrapper {
    margin-bottom: 40%;
  }
  #contact .social-container {
    width: 45%;
  }
}

@media screen and (max-width: 985px) {
  .card-back .textContainer {
    height: auto;
    font-size: 12px;
  }
  .cta {
    font-size: 12px;
  }
}
